<%= form_for [:admin, @railway_station] do |f| %>
    <%= render 'shared/errors_messages', resource: @railway_station %>

    <div class="col-md-6">
        <div class="md-form">
            <i class="fa fa-bank prefix"></i>
            <%= f.text_field :title, class: "form-control", id: "form2" %>
            <label for="form2"><%= t('admin.railway_stations.new.name') %></label>
        </div>
    </div>

    <div class="center-on-small-only">
        <button type="submit" class="btn btn-primary"><%= t('.submit', action: @railway_station.new_record? ? 'Создать' : 'Изменить') %></button>
    </div>
<% end %>
