<%= devise_error_messages! %>

<div class="divider-new">
    <h2 class="h2-responsive">
        <%= t('.title', resource: resource_class.model_name.human) %><strong> <span class="text-muted"></span></strong>
    </h2>
</div>

<div class="card">
    <h3 class="card-header primary-color white-text"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.full_name %>:</h3>

    <div class="card-block">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          
          <div class="col-md-6">
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <%= f.email_field :email, autofocus: true, class: "form-control", id: "form2" %>
                <label for="form2"> Email</label>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          <% end %>

          <div class="col-md-6">
              <div class="md-form">
                  <i class="fa  fa-eye-slash prefix"></i>
                  <%= f.password_field :password, autocomplete: "off" %>
                  <%= f.label :password %> <i><span class="text-muted">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</span></i><br />
              </div>
          </div>
          <div class="col-md-6">
              <div class="md-form">
                <i class="fa  fa-eye-slash prefix invisible"></i>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
                <%= f.label :password_confirmation %><br />
              </div>
          </div>

          <div class="col-md-6">
              <div class="md-form">
                  <i class="fa  fa-eye-slash prefix invisible"></i>
                  <%= f.password_field :current_password, autocomplete: "off" %>
                  <%= f.label :current_password %> <br />
              </div>
          </div>

          <br />

          <div class="actions">
              <button type="submit" class="btn btn-primary"><%= t('.update') %></button>
          </div>

        <% end %>
        <hr>

        <h3 class="text-muted"><%= t('.cancel_my_account') %></h3>

        <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
</div>

<br />

<%= link_to  t('devise.shared.links.back'), :back, class: "text-danger" %>
