<div class="divider-new">
    <h2 class="h2-responsive">
        <%= t('.title') %> <strong> <span class="text-muted"></span></strong>
    </h2>
</div>

<div class="card">
    <h3 class="card-header primary-color white-text"><i class="fa fa-road" aria-hidden="true"></i> <%= t('.title') %>:</h3>

    <div class="card-block">

        <div class="row">
            <div class="col-md-12">
                <p class="text-right">
                    <span class=""> <%= link_to t('shared.add'), new_admin_route_path,
                          class: 'btn btn-secondary', role: 'button' %>
                    </span>
                </p>
            </div>
        </div>

        <table class="table text-center table-hover">
            <thead class="text-center">
                <tr>
                    <th class="text-center"><%= t('admin.routes.attributes.name') %></th>
                    <th class="text-center"><%= t('shared.actions') %></th>
                </tr>
            </thead>

            <tbody>
                <%= render @routes %>
            </tbody>
        </table>
    </div>
</div>

<br />

<%= link_to t('shared.back'), :back, class: "text-danger" %>
