<tr>
  <td><%= train.number %></td>
  <td>
    <% if train.route.present? %>
        <%= link_to train.route.name, train.route %>
    <% else %>
        <p>Route isn't set</p>
    <% end %>
  </td>
  <td>
    <% if train.current_station.present? %>
        <%= link_to train.current_station.title, train.current_station %>
    <% else %>
        <p>Route isn't set</p>
    <% end %>
  </td>
  <td>
    <a class="blue-text" href="<%= train_path(train) %>"><i class="fa fa-eye"></i></a>
    <a class="teal-text" href="<%= edit_train_path(train) %>" rel="nofollow"><i class="fa fa-pencil"></i></a>
    <a class="red-text" href="<%= train_path(train) %>"  data-method="delete" rel="nofollow" data-confirm="Are you sure?"><i class="fa fa-times"></i></a>
  </td>
</tr>