<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Currnet Station</strong>
  <% if @train.current_station.present? %>
      <%= link_to @train.current_station.title, @train.current_station %>
  <% else %>
      Current station isn't set
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
      <%= link_to @train.route.name, @train.route %>
  <% else %>
      Route isn't set
  <% end %>
</p>


<h2>Carriages:</h2>
<div>
  <table>
    <thead>
    <tr>
      <th>Number</th>
      <th>Type</th>
      <th>Seats</th>
    </tr>
    </thead>
    <tbody>
    <% @train.ordered_carriages.each do |carriage| %>
        <tr>
          <td><%= link_to carriage.number, carriage_path(carriage) %></td>
          <td><%= carriage.type_label %></td>
          <td><%= render "carriage/seats_#{carriage.type.underscore}", carriage: carriage %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h2>Seats count by type:</h2>
<table>
  <thead>
  <tr>
    <th>Carriage type</th>
    <th>Seat type</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
    <% Carriage::TYPES.each do |carriage_type, carriage_label| %>
      <% Carriage::SEATS_TYPES.each do |seats_type, seats_label| %>
          <% count = @train.capacity_by_type(carriage_type, seats_type) %>
          <% if count > 0 %>
            <tr>
              <td><%= carriage_label %></td>
              <td><%= seats_label %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
