<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route</strong>
  <% if @train.route.present? %>
      <%= link_to @train.route.name, @train.route %>
  <% else %>
      Route isn't set
  <% end %>
</p>

<p>
  <strong>Carriages ans Seats by Category:</strong>
  <ul>
    <% @train.capacity_by_categories.each do |key, value| %>
    <br />
        <li>
          <strong><%= "#{Carriage::CATEGORIES[key]}: " %></strong>
          <div class="col-md-4"><br>
          <ul class="list-group text-muted">
            <li class="list-group-item justify-content-between">Carriages <span class="badge badge-primary badge-pill"><%= "#{value[:carriages]}" %></span></li>
            <li class="list-group-item justify-content-between">Top seats <span class="badge badge-primary badge-pill"><%= "#{value[:top_seats]}" %></span></li>
            <li class="list-group-item justify-content-between">Bottom seats <span class="badge badge-primary badge-pill"><%= "#{value[:bottom_seats]}" %></span></li>
          </ul>
          </div>
       </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Current station:</strong>
  <% if @train.current_station.present? %>
      <%= link_to @train.current_station.title, @train.current_station %>
  <% else %>
      Station isn't set
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
