  <!--Navbar-->
        <nav class="navbar fixed-top navbar-toggleable-md scrolling-navbar navbar-dark double-nav">
        <% if user_signed_in? && current_user.admin? %>
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            <% end %>

            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p><strong><i class="fa fa-subway red-text"> </i>  Tutu</strong></p>
            </div>
            <% if user_signed_in? %> 
          <ul class="navbar-nav ml-auto nav-flex-icons">
                          <li class="nav-item">
                              <a class="nav-link" href="<%= my_tickets_path%>"><i class="fa fa-ticket"> </i><span class="hidden-sm-down"> <%= t('.my_tickets') %> </span></a>
                          </li>
                      <% if current_user.admin? %>
                          <li class="nav-item">
                              <a class="nav-link" href="<%= admin_routes_path %>"><i class="fa fa-user"> </i><span class="hidden-sm-down">  <%= t('.dashboard') %> </span></a>
                          </li>
                      <% end %>
                          <li class="nav-item">
                              <a class="nav-link" href="<%= edit_user_registration_path %>"><i class="fa fa-user"> </i><span class="hidden-sm-down">  <%= "#{current_user.full_name}" %> </span></a>
                          </li>
                          <li class="nav-item">
                              <%= link_to destroy_user_session_path, method: :get, rel: "nofollow", class: "nav-link" do %>
                                    <span class="hidden-sm-down "> <i class="fa fa-sign-out"> </i> <%= t('.log_out') %></span>
                              <% end %>
                          </li>
                      </ul>
                  <% else %>
                      <ul class="navbar-nav ml-auto nav-flex-icons">
                          <li class="nav-item">
                              <a class="nav-link" href="<%= new_user_session_path %>" rel="nofollow"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down"><%= t('.log_in') %></span></a>
                          </li> 
                          <li class="nav-item">
                              <a class="nav-link" href="<%= new_user_registration_path%>" rel="nofollow"><i class="fa fa-user-plus"></i> <span class="hidden-sm-down"><%= t('.sign_up') %></span></a>
                          </li> 
                      </ul>

                  <% end %>
        </nav>
        <!--/.Navbar-->