 <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">

            <!-- Logo -->
            <li>
                <div class="logo-wrapper sn-ad-avatar-wrapper">
                    <img src="https://mdbootstrap.com/images/avatars/img%20(9)" class="img-fluid rounded-circle">
                    <div class="rgba-stylish-strong">
                        <p class="user white-text"><%= current_user.full_name %><br><%= current_user.email %></p>
                    </div>
                </div>
            </li>
            <!--/. Logo -->

            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="collapsible-header waves-effect arrow-r active"><i class="fa fa-sitemap"></i> <%= t('.resources') %><i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><%= link_to (admin_routes_path ) do %>
                                <span><i class="fa fa-road"></i> <%= t('.routes') %></span>

                                          <% end %>
                                </li>
                                <li>
                                <%= link_to (admin_railway_stations_path) do %>
                                              <span><i class="fa fa-bank"></i> <%= t('.railway_stations') %></span>
                                          <% end %>
                                </li>
                                <li><%= link_to (admin_trains_path) do %>
                                              <span><i class="fa fa-train ml-auto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to fix"></i> <%= t('.trains') %></span>
                                          <% end %>
                                </li>
                                <li>
                                    <%= link_to (admin_tickets_path) do %>
                                              <span><i class="fa fa-ticket"></i> <%= t('.tickets') %></span>
                                          <% end %>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-gitlab"></i> Useful links<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="https://www.google.com" class="waves-effect" target="_blank" rel="nofollow">Google</a>
                                </li>
                                <li><a href="https://github.com" class="waves-effect" target="_blank" rel="nofollow">GitHub</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        </ul>
        <!--/. Sidebar navigation -->

        