<p id="notice"><%= notice %></p>

<h4>Carriage</h4>

<p>
  <strong>Train Number:</strong>
  <%= @carriage.train.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @carriage.type_label %>
</p>

<p>
   <strong>Carriage number:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Seats:</strong>
  <div class="col-md-4">
   <%= render "seats_#{@carriage.type.underscore}", carriage: @carriage %>
  </div>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>