<p id="notice"><%= notice %></p>

<h4>Carriage</h4>

<p>
  <strong>Train Number:</strong>
  <%= @carriage.train.number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @carriage.category_label %>
</p>

<p>
  <strong>Seats:</strong>
  <div class="col-md-4">
    <ul class="list-group text-muted">
      <li class="list-group-item justify-content-between">Top <span class="badge badge-primary badge-pill"><%= @carriage.top_seats  %></span></li>
      <li class="list-group-item justify-content-between">Bottom <span class="badge badge-primary badge-pill"><%= @carriage.bottom_seats %></span></li>
    </ul>
  </div>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>