<h1><%= t('.title') %></h1>

<table class="table text-center table-hover">
  <thead class="table-inverse text-center">
  <tr>
    <th class="text-center"><%= t('admin.tickets.attributes.sn') %></th>
    <th class="text-center"><%= t('admin.tickets.attributes.train') %></th>
    <th class="text-center"><%= t('admin.tickets.attributes.route') %></th>
    <th class="text-center"><%= t('admin.tickets.attributes.start_station') %></th>
    <th class="text-center"><%= t('admin.tickets.attributes.end_station') %></th>
    <th class="text-center"><%= t('admin.tickets.attributes.buyer') %></th>
    <th class="text-center"><%= t('shared.actions') %></th>
  </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
