<div class="divider-new">
    <h2 class="h2-responsive">
        <%= t('.title') %> <strong> <span class="text-muted"></span></strong>
    </h2>
</div>


<div class="card"><h3 class="card-header primary-color white-text"><i class="fa fa-ticket" aria-hidden="true"></i> <%= t('.title') %>:</h3>
    <div class="card-block">

        <table class="table text-center table-hover">
          <thead class="text-center">
          <tr>
            <th class="text-center"><%= t('tickets.attributes.sn') %></th>
            <th class="text-center"><%= t('tickets.attributes.train') %></th>
            <th class="text-center"><%= t('tickets.attributes.route') %></th>
            <th class="text-center"><%= t('tickets.attributes.start_station') %></th>
            <th class="text-center"><%= t('tickets.attributes.end_station') %></th>
            <th class="text-center"><%= t('tickets.attributes.buyer') %></th>
            <th class="text-center"><%= t('shared.actions') %></th>
          </tr>
          </thead>

          <tbody>
            <%= render @tickets %>
          </tbody>
        </table>
    </div>
</div>
