<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<p>
  <strong>Trains on Station:</strong>
  <%= render 'shared/resource_list', resource_list: @railway_station.trains, attr: :number, empty_text: 'No trains on station' %>
</p>

<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
