<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><br /><br />


<div class="flex-center">
<!--Form with header-->
<div class="card" style="width: 294px">
    <div class="card-block">

        <!--Header-->
        <div class="form-header   mdb-color lighten-2">
            <h3><i class="fa fa-lock"></i> Login:</h3>
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <%= f.email_field :email, class: "form-control", id: "form2" %>
            
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "form4" %>
            <label for="form4">Your password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-blue-grey" value="Log in">Login</button>
        </div>

    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p>Not a member? <a href="<%= new_user_registration_path %>" rel="nofollow">Sign Up</a></p>
            <p>Forgot <a href="<%= new_password_path(resource_name) %>" rel="nofollow">Password?</a></p>
            <p>Didn't receive <a href="<%= new_confirmation_path(resource_name) %>" rel="nofollow">Insrtuctions?</a></p>
        </div>
    </div>

</div>
</div>
<% end %>
<!--/Form with header-->
