<h4><%= t('.title') %> №  <%= @carriage.number %></h4>

<p>
  <strong><%= t('admin.carriages.attributes.train') %>:</strong>
  <%= @carriage.train.number %>
</p>

<p>
  <strong><%= t('admin.carriages.attributes.type') %>:</strong>
  <%= @carriage.type_label %>
</p>

<p>
  <strong><%= t('.seats') %>:</strong>
  <div class="col-md-4">
   <%= render "seats_#{@carriage.type.underscore}", carriage: @carriage %>
  </div>
</p>

<%= link_to t('shared.edit'), edit_admin_carriage_path(@carriage) %> |
<%= link_to t('shared.back'), admin_train_path(@carriage.train) %>