<%= form_for(@route) do |f| %>
  <%= render 'shared/errors_messages', resource: @route %>

  <br/>
   
  <%= f.label "Add stations to the Route:" %>
  <%= f.collection_select :railway_station_ids, RailwayStation.all.ordered_by_title, :id, :title, {}, { multiple: true, class: "mdb-select colorful-select dropdown-warning" } %>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>

