<p id="notice"><%= notice %></p>

<h4><strong class="text-muted">Route:</strong> <strong><%= @route.name %></strong></h4>

<p>
  <strong class="text-muted">Railway stations:</strong>
  <%= render 'stations', stations: @route.railway_stations.ordered %>
</p>

<p>
  <strong class="text-muted">List of trains on route:</strong>
  <%= render 'shared/resource_list', resource_list: @route.trains, attr: :number, empty_text: 'There no trains on route' %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>