

<%= form_for [:admin, @train] do |f| %>
  <%= render 'shared/errors_messages', resource: @train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <br />

  <%= f.select :current_station_id, RailwayStation.all.map{ |station| [ "#{station.title}", station.id ] }, {prompt: "Select station"}, class: "mdb-select colorful-select dropdown-warning" %>

  <%= f.select :route_id, Route.all.map{ |route| [ "#{route.name}", route.id ] }, {prompt: "Select route"}, class: "mdb-select colorful-select dropdown-warning" %>

   <div class="field">
      
      <%= f.check_box :order_from_tail %>
      <%= f.label :order_from_tail %>
    </div>

  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>