<h1><%= t('.title') %></h1>

<div class="row">
  <div class="col-md-12">
    <%= link_to t('shared.add'), new_admin_train_path,
                class: '', role: 'button' %>
  </div>
</div>

<table class="table text-center table-hover">
  <thead class="table-inverse text-center">
    <tr>
      <th class="text-center"><%= t('admin.trains.attributes.number') %></th>
      <th class="text-center"><%= t('admin.trains.attributes.route') %></th>
      <th class="text-center"><%= t('admin.trains.attributes.current_station') %></th>
      <th class="text-center"><%= t('shared.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

