<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Railway App</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="icon" type="image/png" href="" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min.css' %>

    <!-- Material Design Bootstrap -->
    <%= stylesheet_link_tag 'mdb.min.css' %>
    <%= stylesheet_link_tag 'style.css' %>

    
     
   
</head>
<body class="fixed-sn grey-skin">
    <div id="wrapper">
        <header>
            <% if current_user.present? && current_user.admin? %>
                <%= render 'shared/sidebar' %>
            <% end %>

            <%= render 'shared/nav_bar' %>

        </header>
        <main>
            <div class="container">
                <% unless flash.empty? %>
                    <script type="text/javascript">
                        <% flash.each do |f| %>
                            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
                            toastr['<%= type %>']('<%= f[1] %>');
                        <% end %>
                   </script>
                <% end %>
                <%= yield %>
            </div>
        </main>
    </div>

<!--Footer-->
<footer class="page-footer blue-grey lighten-3 center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Railway App</h5>
                <p>Учебный проект на Ruby on Rails</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="<%= root_path %>"><%= t('.home_page') %></a></li>
                    <li><a href="<%= edit_user_registration_path %>"><%= t('.profile') %></a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <a href=""> bdisney </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

  <!-- SCRIPTS -->

   <!-- JQuery -->
    <%= javascript_include_tag 'jquery-3.1.1.js' %>

    <!-- Tooltips -->
     <%= javascript_include_tag 'tether.min.js' %>

    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min.js' %>

    <!-- MDB core JavaScript -->
    <%= javascript_include_tag 'mdb.min.js' %>

    <% if current_user.present? && current_user.admin? %>
        <script>
            // SideNav init
            $(".button-collapse").sideNav();
            var el = document.querySelector('.custom-scrollbar');
            Ps.initialize(el);
        </script>
    <% end %>


     <script>
        new WOW().init();
    </script>

    <script>
        // Material Select Initialization
        $(document).ready(function() {
          $('.mdb-select').material_select();
        });
    </script>



</body>




</html>
